html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: seashell;
    background-color: black;   
    opacity: 0.9;
    text-align: center;
    width: 100%;
    opacity: 0.9;
}

html {
    font-size: 22px;
}

header {
    width: 100%;
    height: 3.13rem;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.04rem solid seashell;
    position: fixed;
    top: 0;
    z-index: 1;
  }
nav {
    display: inline-flex;
    text-align: right;
  }

a {
    color: seashell;
    text-decoration: underline;
    margin: 0 1rem;
  }
header img {
    height: 2.27rem;
    width: auto;
    margin-left: 0.46rem;
    margin-top: 0.68rem;
    margin-bottom: 0.68rem;
  }

main {
    width: 100%;
    height: auto;
    margin-top: 3.18rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    }

#mission {
    width: 54.54rem;
    height: 31.81rem;
    background-image: url(images/img-mission-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.missionStatement{
    background-color: black;
    height: auto;
    width: 54.54rem;
}

.featuredTea {
    width: 45.45rem;
    height: auto;
}

figure {
    display: inline-flex;
    flex-direction: column;

}

figure img {
    width: 13.64rem;
    height: 9.09rem;
  }

figcaption {
    padding-top: 0.45rem;
}

#locations {
    width: 54.54rem;
    height: 22.72rem;
    background-image: url(images/img-locations-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}

#locStat {
    text-align: center;
    width: 100%;
}

#add {
    /*display: inline-flex;*/
    width: 13.63rem;
    height: auto;
    /*flex-direction: column;*/
    background-color: black;
    /*align-items: center;*/
    text-align: center;
    margin: 0.68rem 0.90rem;
}

#contact {
    height: 9.09rem;
}

footer {
    text-align: left;
    margin-left: 0.9rem;
}

@media only screen and (max-width: 768px) {
    nav {
        display: inline-flex;
        flex-direction: column;
        text-align: right;
      }
  }